#footer
  #subscribe
    .container
      %small
        Copyright ©
        = DateTime.now.year
        |
        Realizacja:
        %a{ :href => "http://domi-net.com.pl", :target => "_blank" } Domi-Net

%a#scroll-to-top
  %i.fa.fa-angle-up
