.tab-content
  #home.tab-pane.fade.active.in{:role => "tabpanel"}
    = haml :"pages/_home"
  #about.tab-pane.fade{:role => "tabpanel"}
    = haml :"pages/_about"
  #gallery.tab-pane.fade{:role => "tabpanel"}
    = haml :"pages/_gallery"
  #contact.tab-pane.fade{:role => "tabpanel"}
    = haml :"pages/_contact"
