#posts.container
  %section.col-md-12
    .post.featured
      .row
        .col-md-4
          %img{ :src => "/img/avatar.jpg", :alt => "", :style => "width: 100%" }/
        .col-md-8.caption
          .post-title Jerzy Zborowski
          %br/
          Artysta malarz, urodzony 13.05.1957 r. zamieszkały w Częstochowie. Należy do Związku Polskich Artystów Plastyków.
          %br/
          Wystawa indywidualna rysunku i malarstwa w Klubie EMPiK w Częstochowie w 1987 r.
          %br/
          %br/
          %h4 Wystawy zbiorowe:
          %br/
          %ul
            %li
              III Wystawa Środowiska Częstochowskich Artysow Plastykow, Miejska Galeria Sztuki w Częstochowie, 1998 r.
            %li
              III Jesienny Salon Sztuki, Biuro Wystaw Artystycznych w Ostrowcu Świętokrzyskim, 1998 r.
            %li
              XXIV Ogólnopolski Plener Malarski "Jurajska Jesień", Miejska Galeria Sztuki w Częstochowie, 1999 r.
            %li
              XXV Ogólnopolski Plener Malarski "Jurajska Jesień", Miejska Galeria Sztuki w Częstochowie, Biuro Wystaw Artystycznych w Nowym Sączu, Friedrichshafen, 2000 r.
            %li
              Wystawa Artyści Częstochowy XX w., Częstochowa, 2000 r.
            %li
              Wystawa Środowiskowa Związku Polskich Artystów Plastyków, Częstochowa, 2004 r.
          %br/
          %h4 Nagrody:
          %br/
          %ul
            %li
              Ogólnopolski Konkurs im. J. Grabowskiego, Biuro Wystaw Artystycznych, Tarnów 1990 r.
            %li
              "Muzyka w malarstwie", Biuro Wystaw Artystycznych w Tychach, 1996 r., wyróżnienie.
            %li
              Prace w zbiorach Państwa Opytow w USA.
