#single
  .container
    #map
    .post
      .caption
        .row.contact-info
          .col-md-4.col-md-offset-2.text-center
            %i.fa.fa-phone.fa-4x
            %h4 Telefon
            %p
              +48 608 236 153
          .col-md-4.text-center
            %i.fa.fa-envelope-o.fa-4x
            %h4 Email
            %p
              %a.email{:href => "mailto:jerzy.zborowski@gmail.com"} jerzy.zborowski@gmail.com
