#posts.container
  %section.col-md-12
    .post.featured
      .row
        .col-md-6.media
          %img.img-responsive{:src => "img/intro.jpg", :style => "width: 100%"}/
        .col-md-6.caption
          .post-title Witaj
          %p.post-description
            Nazywam się Jerzy Zborowski i jestem artystą malarzem. Lubię malarstwo barwnej ekspresyjnej groteski,
            gdzie wydłużone sylwetki postaci przedstawiam w teatralnych czy też operowych kostiumach i dekoracjach.
            Treść zachodzących między nimi relacji jest trudna do jednoznacznego uchwycenia, wynika także z dominacji koloru.
            Maluje również intensywne kolorystycznie pejzaże.
