@import "tailwindcss";

@theme {
  --color-dark-font-primary: #92adad;
  --color-dark-font-secondary: #c9dcdc;
  --color-dark-card-background: #113541;

  --font-sans: 'Inter', sans-serif;
  --font-logo: 'Square Peg', sans-serif;
}

@variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
}

:root {
  --scrollbar-thumb: #d1d1d2;
  --scrollbar-track: initial;
  --dark-font-color-primary: #92adad;
  --dark-font-color-secondary: #c9dcdc;
  --dark-card-background: #113541;
}

.scrollbar {
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  scrollbar-width: thin;

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 0.25rem;
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
}
.dark .scrollbar {
  --scrollbar-thumb: #255461;
}
